form {
    max-width: fit-content;
    margin: 0 auto;
    padding: 3rem;
}

form .wrapper {
    max-width: fit-content;
    margin: 0.5rem auto 2rem;
}

input {
    padding: 0.4em;
    font-size: 16px;
    border: 3px solid #bbb;
    border-radius: 0.5em;
    outline: none;
    background: transparent;
    transition: border-color 0.3s ease;
}

input[type="number"] {
    font-size: 18px;
    width: 7em;
    align-self: center;
}

input:focus {
    border-color: var(--clr-primary);
}   

label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

input:disabled {
    opacity: 0.6;
}