.pg-header {
  position: sticky;
  top: 0;
  background: var(--clr-light);
  color: var(--clr-dark);
  z-index: 10;
  border-bottom: 1px solid var(--clr-border);
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}

.pg-header .container {
  padding: 1rem 0.5rem 0.5rem;
  align-items: flex-end;
  position: relative;
}

.pg-header .wrapper {
  width: clamp(10rem, calc(100% - 3.4rem), 35rem);
  justify-self: center;
  padding: 0 0.25rem;
}

.pg-header :is(#back, #more) {
  flex-shrink: 0;
  padding: 2px;
}

.pg-header.dropdown {
  position: relative;
  align-self: stretch;
}

.tooltip-options {
  position: absolute;
  right: clamp(1rem, 6vw, 2rem);;
  top: clamp(5.4rem, 17vw, 6.3rem);
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  padding: 12px;
  z-index: 1;
  border-radius: 5px;
}

.tooltip-options input {
  margin-right: 0.75rem;
}

.tooltip-options label {
  cursor: pointer;
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .pg-header {
    color: var(--clr-light);
    background: var(--clr-dark);
  }

  .tooltip-options {
    background-color: var(--clr-dark);
  }
}
