* {
  margin: 0;
  padding: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button,
[type='submit'] {
  display: inline-block;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}

/* CSS input reset */
input,
textarea {
  border: none;
  outline: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input[type="checkbox"],
input[type="radio"],
input[type="range"],
progress,
meter {
  accent-color: var(--clr-primary); /* Use your primary color here */
}

@media (min-width: 768px) {
  input[type="checkbox"] {
    transform: scale(1.4);
    margin: 5px;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* ===== Reset Font Sizes ===== */

body {
  font-size: 16px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

@media (min-width: 576px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 20px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }
}
